<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/intro.css">
</head>

<body>
    <div class="container">
        <div class="box-wrapper">
            <div class="fondo">
                <div class="tittle">VENNTURE</div>

                <div class="cuadro">
                    <div class="text">
                        <p>
                            Desafía a tus amigos en el emocionante modo multijugador. <br><br>
                            Crea o únete a salas privadas para competir en tiempo real. <br><br>
                            Pon a prueba tus habilidades de deducción y rapidez mientras luchas por coronarte como el
                            escapista supremo. <br><br>
                            ¿Serás tú quien resuelva los acertijos más rápido y se lleve el título del más veloz?
                            <br><br>
                        </p>
                    </div>

                    <a href="./multiplayer.html" class="btn">Continuar</a>
                </div>

            </div>
        </div>
    </div>
</body>

</html>