<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/room.css">
</head>

<body>
    <div class="container">
        <div class="box-wrapper">
            <div class="fondo">

                <div class="tittle">SALA</div>

                <div class="recuadrocod">XXX-XXX</div>

                <div class="jugadores">
                    <div class="text">JUGADORES</div>
                </div>

                <div class="recuadroPersonajes">

                    <div class="cuadroPersonaje1">
                        <div class="personaje1"></div>
                    </div>
                    <div class="nombreJugador1">DANNA</div>

                    <div class="cuadroPersonaje2">
                        <div class="personaje2"></div>
                    </div>
                    <div class="nombreJugador2">EMILIO</div>
                    
                    <div class="cuadroPersonaje3">
                        <div class="personaje3"></div>
                    </div>
                    <div class="nombreJugador3">LUISA</div>

                    <div class="cuadroPersonaje4">
                        <div class="personaje4"></div>
                    </div>
                    <div class="nombreJugador4">JAVIER</div>

                </div>

                <button class="btn" type="button">EMPEZAR</button>

            </div>
        </div>
    </div>
</body>

</html>