html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #000000;
}

.box-wrapper {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.fondo {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 2fr 1fr;
    grid-template-rows: 1fr 3fr 3fr 3fr 3fr 1fr;

    /* Mantener relación de aspecto 4:3 */
    aspect-ratio: 4 / 3;

    /* Dimensiones máximas */
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;

    background-image: url('../images/Fondo.svg');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.tittle {
    color: #C3C3C3;
    font-family: 'Pixeloid Sans';
    font-size: 14vh;

    font-weight: 900;
    text-shadow:
        1px 1px 0 black,
        2px 2px 0 black,
        3px 3px 0 black,
        4px 4px 0 black,
        5px 5px 0 black,
        6px 6px 0 black,
        7px 7px 0 black,
        8px 8px 0 black;

    text-align: center;

    grid-area: 1 / 2 / 2 / 5;
}

.recuadro {
    grid-area: 2 / 2 / 6 / 5;

    background-image: url('../images/recuadro.svg');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

    display: grid;
    grid-template-rows: 2fr 3fr 3fr 1fr 3fr 3fr 2fr;
    grid-template-columns: 2fr 4fr 2fr;

    font-family: 'Super Pixel';
}

.input-text {
    grid-row: 2 / 3;

    background-image: url('../images/text=Default.svg');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}

.input-text:hover {
    filter: brightness(90%);
}

.input-text:active {
    filter: brightness(80%);
}

input {
    width: 90%;
    height: 50%;

    background-color: #00000000;
    border: 0px;
    outline: none;

    font-size: 2vw;
    font-family: 'Pixeloid Sans';
}

.text {
    grid-row: 1 / 2;

    text-align: center;
    font-size: 4vh;
}

.btn-back {
    background-image: url('../images/btn-back.svg');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

    grid-area: 1 / 2 / 2 / 3;
    width: 10vh;
    height: 10vh;
    justify-self: start;
    align-self: center;
    position: relative;
    right: 8%;

    z-index: 1;
}

.btn-back:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.btn {
    grid-area: 6 / 2 / 7 / 3;

    background-color: #00000000;
    border: 0;

    background-image: url('../images/btnLog.svg');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

    text-align: center;
    place-self: end center;

    width: 50%;
    height: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.7vw;
    font-family: 'Super Pixel';
}

.btn:hover {
    filter: brightness(90%);
    cursor: pointer;
}

.btn:active {
    filter: brightness(80%);
}

.field {
    display: grid;
    grid-template-rows: 1fr 2fr;
    gap: 0;
}