.fondo {
    grid-template-columns: 1fr 4fr 1fr 4fr 1fr 4fr 1fr 4fr 1fr;
    grid-template-rows: 1fr 3fr 2fr 2fr 5fr 1fr 3fr 2fr;

    background-image: url('../images/waitingRoomADM.svg');
}

.tittle {
    grid-area: 2 / 4 / 2 / 7;

    font-size: 15vh;
}

.jugadores {
    grid-area: 4 / 4 / 4 / 7;
    font-family: 'Super Pixel';
    color: rgb(255, 255, 255);
}

.text {
    text-align: center;
    font-size: 4vh;
}

.recuadrocod {
    grid-area: 3 / 3 / 3 / 8;
    border: 0;

    background-image: url('../images/codigo.svg');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

    text-align: center;
    place-self: center center;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 70%;

    font-size: 5vh;
    font-family: 'Pixeloid Sans';
    color: rgb(223, 221, 221);
}

.btn {
    grid-area: 6 / 4 / 8 / 7;

    background-image: url('../images/btn-blue.svg');

    align-self: end;

    width: 35vh;
    height: 50%;

    font-size: 4vh;
}

.btn:hover {
    filter: brightness(90%);
    cursor: pointer;
}

.btn:active {
    filter: brightness(80%);
}

.recuadroPersonajes {
    grid-area: 5 / 2 / 5 / 9;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

    display: grid;
    grid-template-columns: repeat(4, 1fr);

    font-family: 'Super Pixel';
}

#jugador1 {
    grid-column: 1 / 2;
}
#jugador2 {
    grid-column: 2 / 3;
}
#jugador3 {
    grid-column: 3 / 4;
}
#jugador4 {
    grid-column: 4 / 5;
}

.jugador {
    grid-template-rows: 4fr 2fr;
}

.cuadroPersonaje {
    grid-area: 1 / 1 / 2 / 2;

    background-image: url('../images/user.svg');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

    height: 20vh;

    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;

    font-family: 'Super Pixel';
}

.personaje {
    grid-area: 2 / 2 / 3 / 3;

    background-image: url('../images/personaje.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

    height: 15vh;

    display: grid;
    font-family: 'Super Pixel';
}

.nombreJugador {
    grid-area: 2 / 1 / 2 / 2;

    text-align: center;
    font-size: 5.5vh;

    font-family: 'Super Pixel';
    color: rgb(255, 255, 255);
}

.btn-back {
    grid-area: 2 / 2 / 3 / 3;

    justify-self: center;
}

a {
    text-decoration: none;
    color: black;
}