html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #000000;
}
.box-wrapper {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.fondo {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: 1fr 3fr 3fr 3fr 3fr;
    /* Mantener relación de aspecto 4:3 */
    aspect-ratio: 4 / 3;
    
    /* Dimensiones máximas */
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    background-image: url('../images/Fondo.svg');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.tittle {
    color: #C3C3C3;
    font-family: 'Pixeloid Sans';
    font-size: 14vh;
    font-weight: 900;
    text-shadow: 
        1px 1px 0 black,
        2px 2px 0 black,
        3px 3px 0 black,
        4px 4px 0 black,
        5px 5px 0 black,
        6px 6px 0 black,
        7px 7px 0 black,
        8px 8px 0 black;
    text-align: center;
    align-self: center;
    grid-area: 2 / 2 / 3 / 3;
}

.recuadro {
    display: grid;
    grid-template-rows: 1fr 1fr;

    grid-area: 4 / 2 / 5 / 3;

    gap: 10%;
}

.input-text {
    grid-area: 1 / 1 / 2 / 2;

    background-image: url('../images/text=Default.svg');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
}

.input-text:hover {
    filter: brightness(90%);
}

.input-text:active {
    filter: brightness(80%);
}

input {
    width: 77%;
    height: 60%;

    background-color: #00000000;
    border: 0px;
    outline: none;

    font-size: 2.5vw;
    font-family: 'Pixeloid Sans';
    text-align: center;
}

.btn { 
    background-color: #00000000;
    border: 0;
    width: 40vh;

    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

    font-size: 4.5vh;
    font-family: 'Super Pixel';

    color: black;
    text-align: center;
    text-decoration: none;

    justify-self: center;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    filter: brightness(90%);
    cursor: pointer;
}

.btn:active {
    filter: brightness(80%);
}

#create {
    background-image: url('../images/btn-2.svg');

    grid-area: 3 / 2 / 4 / 3;

    width: 80%;
    height: 50%;

    justify-self: center;
    align-self: center;
}

#submit {
    background-image: url('../images/btn-1.svg');

    font-size: 3.5vh;

    position: relative;
    top: 20%;
}

.btn-back{
    background-image: url('../images/btn-back.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;

    grid-area: 2 / 1 / 3 / 2;
    justify-self: end;

    width: 20vh;
    height: 10vh;
}

.btn-back:hover {
    filter: brightness(70%);
}