.fondo {
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 3fr 3fr 3fr 1fr;
}

.tittle {
    grid-area: 1 / 3 / 3 / 4;
    align-self: center;
}

.cuadro {
    grid-area: 3 / 2 / 6 / 5;

    background-image: url('../assets/images/Cuadro.svg');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    display: grid;
    grid-template-rows: 80% 20%;
}

.text {
    text-align: center;
    font-family: 'Pixeloid Sans';
    font-size: 3.5vh;

    justify-self: center;

    width: 80%;
}

.btn {
    background-image: url('../assets/images/btn-blue.svg');

    font-size: 4vh;
}