@font-face {
    font-family: 'Super Pixel';
    src: url('../../../assets/fonts/Super-Pixel-Personal-Use.ttf') format('truetype'),
        url('../../../assets/fonts/super-pixel-personal-use-webfont.woff') format('woff'),
        url('../../../assets/fonts/super-pixel-personal-use-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'Pixeloid Sans';
    src: url('../../../assets/fonts/PixeloidSans.ttf') format('truetype'),
        url('../../../assets/fonts/pixeloidsans-webfont.woff') format('woff'),
        url('../../../assets/fonts/pixeloidsans-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'Pixeloid Sans Bold';
    src: url('../../../assets/fonts/PixeloidSans-Bold.ttf') format('truetype'),
        url('../../../assets/fonts/pixeloidsans-bold-webfont.woff') format('woff'),
        url('../../../assets/fonts/pixeloidsans-bold-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'Press Start 2P';
    src: url('../../../assets/fonts/PressStart2P.ttf') format('truetype'),
        url('../../../assets/fonts/pressstart2p-webfont.woff') format('woff'),
        url('../../../assets/fonts/pressstart2p-webfont.woff2') format('woff2');
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.box-wrapper {
    width: 140vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.scenarios {
    position: absolute;

    /* Mantener relación de aspecto 4:3 */
    aspect-ratio: 4 / 3;

    /* Dimensiones máximas */
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.time {
    position: absolute; 
    top: 12%;
    left: 14%;
    font-size: 3vh;
    font-family: 'Pixeloid Sans';
    color: white;
    /* border: 1px solid rgb(23, 221, 188); */
    z-index: 100;
}

.scenario {
    position: absolute;

    width: 100%;
    height: 100%;

    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

#scenario1 {
    background-image: url('../images/LEVEL\ 4.1.png');
}

.marco {
    background-image: url('../images/Marco.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;

    z-index: 1;
    clip-path: polygon(0% 0%, 0% 100%, 5.2% 100%, 5.2% 8%, 94.7% 8%, 94.7% 92%, 5.2% 92%, 5.2% 100%, 100% 100%, 100% 0%);
    background-color: black;
}

#scenario2 {
    left: 99%;
    background-image: url('../images/LEVEL\ 4.2.png');
}

#scenario3 {
    left: 198%;
    background-image: url('../images/LEVEL\ 4.3.png');
}

#scenario4 {
    left: 297%;
    background-image: url('../images/LEVEL\ 4.4.png');
}

.puerta {
    clip-path: polygon(-20% -20%, -20% 98.5%, 120% 98.5%, 120% -20%);
    background-image: url('../images/Puerta.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 30vh;
    height: 40vh;

    position: absolute;
    bottom: 21.8%;
    left: 35.88%;
}

.puerta:hover {
    filter: drop-shadow(0 0 1vh rgba(255, 255, 255, 0.249));
    cursor: pointer;
}

.horno {
    background-image: url('../images/hornoEncendido.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 30vh;
    height: 85vh;

    position: absolute;
    bottom: 10%;
    left: 70%;
}

.horno:hover {
    filter: drop-shadow(0 0 1vh rgba(255, 255, 255, 0.249));
    cursor: pointer;
}

.apagado {
    background-image: url('../images/hornoApagado.png');
}

.libro {
    background-image: url('../images/libro.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 10vh;
    height: 10vh;

    position: absolute;
    bottom: 49%;
    left: 17%;
}

.libro:hover {
    filter: drop-shadow(0 0 1vh rgba(255, 255, 255, 0.249));
    cursor: pointer;
}

.cuadro:hover {
    filter: drop-shadow(0 0 1vh rgba(255, 255, 255, 0.249));
    cursor: pointer;
}

.cuadro:active {
    filter: drop-shadow(0 0 2vh rgba(255, 255, 255, 0.518));
}

.cuadroPaisajeMar {
    grid-area: 3 / 4 / 4 / 5;
    background-image: url('../images/cuadroPaisajeMar.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 10vh;
    height: 10vh;

    position: absolute;
    bottom: 20%;
    left: -10%;
}

.cuadroSenora {
    grid-area: 3 / 2 / 4 / 3;
    background-image: url('../images/cuadroSenora.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 10vh;
    height: 10vh;

    position: absolute;
    bottom: 20%;
    left: 85%;
}

.cuadroTorre {
    grid-area: 4 / 4 / 5 / 5;
    background-image: url('../images/cuadroTorre.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 10vh;
    height: 10vh;

    position: absolute;
    bottom: 35%;
    left: -10%;
}

.cuadroVanG {
    grid-area: 4 / 2 / 5 / 3;
    background-image: url('../images/cuadroVanG.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 10vh;
    height: 10vh;

    position: absolute;
    bottom: 35%;
    left: 85%;
}

.cuadroNino {
    grid-area: 5 / 2 / 6 / 3;
    background-image: url('../images/cuadroNino.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 10vh;
    height: 10vh;

    position: absolute;
    bottom: 10%;
    justify-self: center;
}

.cuadroNino:hover {
    filter: drop-shadow(0 0 1vh rgba(255, 255, 255, 0.249));
    cursor: pointer;
}

.cuadroNinoDesactivado {
    background-image: none;
    background-color: #6e6258;
}

.cuadroMontana {
    grid-area: 5 / 3 / 6 / 4;
    background-image: url('../images/cuadroMontana.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 18vw;
    height: 10vh;

    position: absolute;
    bottom: 10%;
    justify-self: center;
}

.cuadroMontana:hover {
    filter: drop-shadow(0 0 1vh rgba(255, 255, 255, 0.249));
    cursor: pointer;
}

.cuadroMontanaDesactivado {
    background-image: none;
    background-color: #6e6258;
}

.cuadroNina {
    grid-area: 5 / 4 / 6 / 5;
    background-image: url('../images/cuadroNina.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 10vh;
    height: 10vh;

    position: absolute;
    bottom: 10%;
    justify-self: center;
}

.cuadroNina:hover {
    filter: drop-shadow(0 0 1vh rgba(255, 255, 255, 0.249));
    cursor: pointer;
}

.cuadroNinaDesactivado {
    background-image: none;
    background-color: #6e6258;
}

.cuadroNinoBook {
    grid-area: 3 / 4 / 4 / 5;
    background-image: url('../images/cuadroNino.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 13vh;
    height: 12vh;

    position: absolute;
    bottom: -2%;
    left: 28%;
}

.cuadroNinaBook {
    grid-area: 1 / 2 / 2 / 4;
    background-image: url('../images/cuadroNina.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 13vh;
    height: 13vh;

    position: absolute;
    bottom: -36%;
    right: 55%;
}

.cuadroMontanaBook {
    grid-area: 1 / 4 / 2 / 6;
    background-image: url('../images/cuadroMontana.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 29.5vh;
    height: 8vh;

    position: absolute;
    bottom: -7%;
    left: 10%;
}

.desactivado {
    background-color: #9a887b;
    background-image: none;
}

.interrogacion {
    grid-area: 3 / 3 / 4 / 4;

    position: absolute;
    left: 50%;
    bottom: 10%;
}

#character {
    width: 23vh;
    height: 25vh;

    background-repeat: no-repeat;
    background-size: cover;

    position: absolute;
    left: 10%;
    bottom: 35%;
}

.menu {
    background-image: url('../images/Menu.svg');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 10vh;
    height: 10vh;
    z-index: 1;

    position: absolute;
    top: 8.5%;
    left: 5.5%;
}

.menu:hover,
.help:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.menu:active,
.help:active {
    filter: brightness(90%);
    cursor: pointer;
}

.help {
    background-image: url('../images/Help.svg');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 10vh;
    height: 10vh;
    z-index: 1;

    position: absolute;
    top: 8.5%;
    right: 5.5%;
}

.img-help2 {
    margin: auto;

    width: 59.5vh;
    height: 60vh;

    background-image: url('../images/Help4.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    opacity: 0;
    transform: scale(0.1);
    transform: translateY(-20%);

    filter: drop-shadow(0 0 10px black);

    display: grid;
    grid-template-rows: 1fr repeat(4, 2fr) 1fr;
    grid-template-columns: auto;
    row-gap: 6%;
}

.modal {
    display: none;

    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
}

.contrast {
    background-color: rgba(0, 0, 0, 0.3);
}

.contenido-modal-menu {
    margin: auto;

    width: 59.5vh;
    height: 60vh;

    background-image: url('../images/Menu-content.svg');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    opacity: 0;
    transform: scale(0.1);
    transform: translateY(-20%);

    filter: drop-shadow(0 0 10px black);

    display: grid;
    grid-template-rows: 1fr repeat(4, 2fr) 1fr;
    grid-template-columns: auto;
    row-gap: 6%;
}

.show-menu {
    animation: show-menu 0.3s ease-in-out forwards;
}

@keyframes show-menu {
    from {
        opacity: 0;
        transform: scale(0.1);
        transform: translateY(-20%);
    }

    to {
        opacity: 1;
        transform: scale(1);
        transform: translateY(30%);
    }
}

.hide-menu {
    animation: hide-menu 0.3s ease-in-out forwards;
}

@keyframes hide-menu {
    from {
        opacity: 1;
        transform: scale(1);
        transform: translateY(30%);
    }

    to {
        opacity: 0;
        transform: scale(0.1);
        transform: translateY(-20%);
    }
}

.btn {
    background-image: url('../images/Btn.svg');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Super Pixel';
    font-size: 3.5vh;
    color: black;
    text-decoration: none;
}

.btn:nth-child(1) {
    grid-row: 2 / 3;
}

.btn:nth-child(2) {
    grid-row: 3 / 4;
}

.btn:nth-child(3) {
    grid-row: 4 / 5;
}

.btn:nth-child(4) {
    background-image: url('../images/btn-red.svg');
    grid-row: 5 / 6;
}

.btn:hover {
    filter: brightness(75%);
    cursor: pointer;
}

.btn:active {
    filter: brightness(85%);
}

.contenido-modal-help {
    width: auto;
    height: auto;

    padding: 2vh;

    background-color: rgb(255, 246, 230);
    border: 1vh solid black;

    opacity: 0;

    position: absolute;
    right: -6%;
    top: 7.9%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 3vh;
    font-family: 'Pixeloid Sans';
    text-align: center;
}

.show-help {
    animation: show-help 0.3s ease-in-out forwards;
}

@keyframes show-help {
    from {
        opacity: 0;
        right: -6%;
    }

    to {
        opacity: 1;
        right: 5.2%;
    }
}

.hide-help {
    animation: hide-help 0.3s ease-in-out forwards;
}

@keyframes hide-help {
    from {
        opacity: 1;
        right: 5.2%;
    }

    to {
        opacity: 0;
        right: -6%;
    }
}

.contenido-modal-ask {
    width: 50%;
    height: 60vh;

    background-image: url('../images/paper.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    padding: 2vh;

    opacity: 0;

    position: absolute;
    top: 20%;
    left: 25%;

    display: grid;
    grid-template-rows: 1fr 1fr 2fr  2fr 2fr;
    grid-template-columns: 1fr 2fr  2fr 2fr 1fr;

    font-size: 4vh;
    font-family: 'Pixeloid Sans';
    text-align: center;
}

.contenido-modal-ask2 {
    width: 50%;
    height: 60vh;

    background-image: url('../images/redBookWritten.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    padding: 2vh;

    opacity: 0;

    position: absolute;
    top: 20%;
    left: 25%;

    display: grid;
    grid-template-rows: 2fr 2fr 2fr 2fr;
    grid-template-columns: 2fr 2fr 2.5fr 2.5fr 2fr 2fr;

    font-size: 4vh;
    font-family: 'Pixeloid Sans';
    text-align: center;
}

.show-ask {
    animation: show-ask 0.5s ease-in-out forwards;
}

@keyframes show-ask {
    from {
        opacity: 0;
        top: -20%;
    }

    to {
        opacity: 1;
        top: 20;
    }
}

.hide-ask {
    animation: hide-ask 0.5s ease-in-out forwards;
}

@keyframes hide-ask {
    from {
        opacity: 1;
        top: 20;
    }

    to {
        opacity: 0;
        top: -20%;
    }
}

.btn-close {
    background-image: url('../images/exit.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    width: 5vh;
    height: 5vh;
    grid-area: 1 / 5 / 2 / 6;
    display: grid;

    justify-self: center;
}

.btn-close2 {
    background-image: url('../images/exit.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    width: 5vh;
    height: 5vh;
    grid-area: 1 / 6 / 2 / 8;
    display: grid;

    justify-self: center;

    margin-bottom: 60%;
}


.text-1 {
    grid-area: 1 / 2 / 2 / 5;
    text-align: center;
    display: grid;

    justify-self: center;
    align-self: center;

    margin-top: 5%;
}

.hover:hover {
    filter: brightness(150%);
    cursor: pointer;
}

.left {
    background-image: url('../images/button_left.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 12vh;
    height: 12vh;
    z-index: 1;

    position: absolute;
    bottom: 10%;
    left: 7%;
}

.right {
    background-image: url('../images/button_right.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 12vh;
    height: 12vh;
    z-index: 1;

    position: absolute;
    bottom: 10%;
    left: 18%;
}

.jump {
    background-image: url('../images/button_jump.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 12vh;
    height: 12vh;
    z-index: 1;

    position: absolute;
    bottom: 10%;
    right: 7%;
}

/* Ocultar el botón por defecto */
.move {
    display: none;
}

/*
HD+: 720 x 1280 píxeles
Full HD+: 1080 x 1920 píxeles
WQHD+: 1440 x 2560 píxeles
*/
@media (max-width: 1280px) {
    .move {
        display: block;
    }
}