<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/logIn.css">
</head>

<body>
    <div class="container">
        <div class="box-wrapper">
            <div class="fondo">
                <a href="../index.html" class="btn-back"></a>
                <div class="tittle">VENNTURE</div>
                <form action="" class="recuadro" onsubmit="return login()">

                    <div class="field" id="username">
                        <div class="text">Nombre de usuario</div>
                        <div class="input-text">
                            <input type="text" id="usuarios" name="usuarios" required>
                        </div>
                    </div>

                    <div class="field" id="password">
                        <div class="text">Contraseña</div>
                        <div class="input-text">
                            <input type="password" id="password" name="password" required minlength="8">
                        </div>
                    </div>

                    <a href="./forgot_pass.html" class="link">Olvide mi contraseña</a>

                    <button class="btn" type="submit">Ingresar</button>

                    <a href="./log_up.html" class="crear">Crear nueva cuenta</a>
                    
                </form>
            </div>
        </div>
    </div>

    <script src="./js/script.js"></script>
</body>

</html>