<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container">
        <div class="box-wrapper">
            <div class="fondo">
                <div class="tittle">VENNTURE</div>

                <form action="" class="recuadro">
                    <div class="username">
                        <div class="text">Nombre de usuario</div>
                        <div class="input-text">
                            <input type="text" id="username">
                        </div>
                    </div>
                    <div class="password">
                        <div class="text">Contraseña</div>
                        <div class="input-text">
                            <input type="password" id="password">
                        </div>
                    </div>
                    <a href="#" class="link">Olvide mi contraseña</a>
                    <button class="btn" type="button">Ingresar</button>
                    <a href="#" class="crear">Crear nueva cuenta</a>
                </form>
            </div>
        </div>
    </div>
</body>

</html>