<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/game_mode.css">
</head>

<body>
    <div class="container">
        <div class="box-wrapper">
            <div class="fondo">

                <a href="./index.html" class="btn-back hover"></a>

                <div class="tittle">VENNTURE</div>

                <div class="button">

                    <a href="#" class="btn  hover" id="singleplayer">
                        <div class="img" id="img1"></div>
                        <div class="text">Un jugador</div>
                    </a>

                    <a href="./multiplayer/multiplayer.html" class="btn hover" id="multiplayer">
                        <div class="img" id="img2"></div>
                        <div class="text">Multijugador</div>
                    </a>

                </div>
            </div>
        </div>
    </div>
</body>

</html>