<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <div class="container">
        <div class="box-wrapper">
            <div class="fondo">
                <div class="tittle">VENNTURE</div>

                <div class="button">
                    <a href="./game_mode.html" class="btn hover" id="jugar">Jugar</a>
                    <a href="./settings.html" class="btn hover" id="ajustes">Ajustes</a>
                </div>


                <a href="./log/log_in.html" class="log hover"></a>

            </div>
        </div>
    </div>
</body>

</html>