<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/intro_game.css">
</head>

<body>
    <div class="container">
        <div class="box-wrapper">
            <div class="fondo">
                <div class="tittle">VENNTURE</div>

                <div class="cuadro">
                    <div class="text">
                        <p>Adéntrate en un desafiante juego de escape donde cada nivel te sumerge en una misteriosa
                            habitación.<br><br>
                            Tu objetivo: descifrar un acertijo basado en la teoría de conjuntos para lograr tu libertad.<br><br>
                            Agudiza tus sentidos y examina minuciosamente cada rincón y objeto de la habitación, pues en
                            ellos se esconden las claves para resolver el enigma.<br><br>
                            ¿Podrás desentrañar los secretos matemáticos y escapar de cada habitación?<br><br>
    
                            Presiona ENTER para continuar<br><br></p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>