<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/settings.css">
</head>

<body>
    <div class="container">
        <div class="box-wrapper">
            <div class="fondo">

                <a href="./index.html" class="btn-back hover"></a>

                <div class="tittle">VENNTURE</div>

                <form action="" class="recuadro">

                    <div class="idioma">
                        <div class="text">Idioma</div>
                    </div>

                    <button class="btn btndef hover" type="button">ES</button>

                    <div class="volumen"></div>

                    <button class="btn hover" type="button">Cerrar Sesión</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>