html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.box-wrapper {
    width: 140vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}


.scenarios {
    position: absolute;

    /* Mantener relación de aspecto 4:3 */
    aspect-ratio: 4 / 3;

    /* Dimensiones máximas */
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.scenario {
    position: absolute;

    width: 100%;
    height: 100%;

    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}


.time {
    position: absolute; 
    top: 12%;
    left: 14%;
    font-size: 3vh;
    font-family: 'Pixeloid Sans';
    color: white;
    /* border: 1px solid rgb(23, 221, 188); */
    z-index: 100;
}


#scenario1 {
    background-image: url('../images/Escenario1.png');
}

.cuadro {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 29vh;
    height: 29vh;

    position: absolute;
}

.cuadro:hover {
    filter: drop-shadow(0 0 1vh rgba(255, 255, 255, 0.249));
    cursor: pointer;
}

.cuadro:active {
    filter: drop-shadow(0 0 2vh rgba(255, 255, 255, 0.518));
}

#cuadro-1 {
    background-image: url('../images/Cuadro-cafe.png');

    top: 23.8%;
    left: 10.5%;
}

#cuadro-2 {
    background-image: url('../images/Cuadro-verde.png');

    width: 27vh;
    height: 27vh;

    top: 24.9%;
    left: 35.5%;
}

.marco {
    background-image: url('../images/Marco.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;

    z-index: 1;
    clip-path: polygon(0% 0%, 0% 100%, 5.2% 100%, 5.2% 8%, 94.7% 8%, 94.7% 92%, 5.2% 92%, 5.2% 100%, 100% 100%, 100% 0%);
    background-color: black;
}

#scenario2 {
    left: 100%;
    background-image: url('../images/Escenario0.png');
}

#cuadro-3 {
    background-image: url('../images/Cuadro-morado.png');

    top: 23.5%;
    right: 26.7%;
}

.puerta {
    clip-path: polygon(-20% -20%, -20% 98.5%, 120% 98.5%, 120% -20%);
    background-image: url('../images/Puerta.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 30vh;
    height: 40vh;

    position: absolute;
    bottom: 21.8%;
    left: 10.2%;
}

.puerta:hover {
    filter: drop-shadow(0 0 1vh rgba(255, 255, 255, 0.249));
    cursor: pointer;
}

.libreria {
    background-image: url('../images/Libreria.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 30vh;
    height: 30vh;

    position: absolute;
    bottom: 19.5%;
    right: 5.8%;
}

.libreria:hover {
    filter: drop-shadow(0 0 1vh rgba(255, 255, 255, 0.249));
    cursor: pointer;
}

#scenario3 {
    left: 200%;
    background-image: url('../images/Escenario.png');
}

#character {
    width: 23vh;
    height: 25vh;

    background-image: url('../images/character.png');
    background-repeat: no-repeat;
    background-size: cover;

    position: absolute;
    left: 10%;
    top: 60%;
}

.menu {
    background-image: url('../images/Menu.svg');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 10vh;
    height: 10vh;
    z-index: 1;

    position: absolute;
    top: 8.5%;
    left: 5.5%;
}

.menu:hover,
.help:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.menu:active,
.help:active {
    filter: brightness(90%);
    cursor: pointer;
}

.help {
    background-image: url('../images/Help.svg');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 10vh;
    height: 10vh;
    z-index: 1;

    position: absolute;
    top: 8.5%;
    right: 5.5%;
}

.modal {
    display: none;

    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
}

.contrast {
    background-color: rgba(0, 0, 0, 0.3);
}

.contenido-modal-menu {
    margin: auto;

    width: 59.5vh;
    height: 60vh;

    background-image: url('../images/Menu-content.svg');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    opacity: 0;
    transform: scale(0.1);
    transform: translateY(-20%);

    filter: drop-shadow(0 0 10px black);

    display: grid;
    grid-template-rows: 1fr repeat(4, 2fr) 1fr;
    grid-template-columns: auto;
    row-gap: 6%;
}

.show-menu {
    animation: show-menu 0.3s ease-in-out forwards;
}

@keyframes show-menu {
    from {
        opacity: 0;
        transform: scale(0.1);
        transform: translateY(-20%);
    }

    to {
        opacity: 1;
        transform: scale(1);
        transform: translateY(30%);
    }
}

.hide-menu {
    animation: hide-menu 0.3s ease-in-out forwards;
}

@keyframes hide-menu {
    from {
        opacity: 1;
        transform: scale(1);
        transform: translateY(30%);
    }

    to {
        opacity: 0;
        transform: scale(0.1);
        transform: translateY(-20%);
    }
}

.btn {
    background-image: url('../images/Btn.svg');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Super Pixel';
    font-size: 3.5vh;
    color: black;
    text-decoration: none;
}

.btn:nth-child(1) {
    grid-row: 2 / 3;
}

.btn:nth-child(2) {
    grid-row: 3 / 4;
}

.btn:nth-child(3) {
    grid-row: 4 / 5;
}

.btn:nth-child(4) {
    background-image: url('../images/btn-red.svg');
    grid-row: 5 / 6;
}

.btn:hover {
    filter: brightness(75%);
    cursor: pointer;
}

.btn:active {
    filter: brightness(85%);
}

.contenido-modal-help {
    width: auto;
    height: auto;

    padding: 2vh;

    background-color: rgb(255, 246, 230);
    border: 1vh solid black;

    opacity: 0;

    position: absolute;
    right: -6%;
    top: 7.9%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 3vh;
    font-family: 'Pixeloid Sans';
    text-align: center;
}

.show-help {
    animation: show-help 0.3s ease-in-out forwards;
}

@keyframes show-help {
    from {
        opacity: 0;
        right: -6%;
    }

    to {
        opacity: 1;
        right: 5.2%;
    }
}

.hide-help {
    animation: hide-help 0.3s ease-in-out forwards;
}

@keyframes hide-help {
    from {
        opacity: 1;
        right: 5.2%;
    }

    to {
        opacity: 0;
        right: -6%;
    }
}

.contenido-modal-ask {
    width: 100%;
    height: 40vh;

    padding: 2vh;

    background-color: rgb(255, 246, 230);
    border: 1vh solid black;

    opacity: 0;

    position: absolute;
    top: -20%;

    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-columns: repeat(5, 1fr);

    font-size: 4vh;
    font-family: 'Pixeloid Sans';
    text-align: center;
}

.show-ask {
    animation: show-ask 0.3s ease-in-out forwards;
}

@keyframes show-ask {
    from {
        opacity: 0;
        top: -20%;
    }

    to {
        opacity: 1;
        top: 0;
    }
}

.hide-ask {
    animation: hide-ask 0.3s ease-in-out forwards;
}

@keyframes hide-ask {
    from {
        opacity: 1;
        top: 0;
    }

    to {
        opacity: 0;
        top: -20%;
    }
}

.conjunto {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    
    width: 100%;
    height: 100%;
    background-image: url('../images/conjunto-verde.svg');
    grid-area: 2 / 2 / 3 / 3;
}

.conjunto:nth-child(2) {
    background-image: url('../images/conjunto-cafe.svg');
    grid-area: 2 / 3 / 3 / 4;
}

.conjunto:nth-child(3) {
    background-image: url('../images/conjunto-morado.svg');
    grid-area: 2 / 4 / 3 / 5;
}

.text-1 {
    grid-area: 1 / 1 / 2 / 6;
}

.text-2 {
    grid-area: 3 / 1 / 4 / 6;
}