.button {
    grid-area: 4 / 2 / 5 / 3;

    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 5%;

    justify-self: center;

    width: 100%;

}

.btn {
    background-image: url('../images/btn-2.svg');

    width: 75%;

    display: grid;
    grid-template-columns: 20% 80%;

    justify-self: center;
}

.img {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

    justify-self: end;


    width: 60%;
    height: 60%;
}

.text {
    font-size: 4vh;
}

#img1 {
    background-image: url('../images/singleplayer.svg');

}

#img2 {
    background-image: url('../images/multiplayer.svg');
}

.btn-back {
    grid-area: 2 / 1 / 3 / 2;

    width: 10vh;
    height: 10vh;

    justify-self: center;
    align-self: start;

    position: relative;
    left: 20%;
}