@font-face {
    font-family: 'Super Pixel';
    src: url('../../../assets/fonts/Super-Pixel-Personal-Use.ttf') format('truetype'),
        url('../../../assets/fonts/super-pixel-personal-use-webfont.woff') format('woff'),
        url('../../../assets/fonts/super-pixel-personal-use-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'Pixeloid Sans';
    src: url('../../../assets/fonts/PixeloidSans.ttf') format('truetype'),
        url('../../../assets/fonts/pixeloidsans-webfont.woff') format('woff'),
        url('../../../assets/fonts/pixeloidsans-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'Pixeloid Sans Bold';
    src: url('../../../assets/fonts/PixeloidSans-Bold.ttf') format('truetype'),
        url('../../../assets/fonts/pixeloidsans-bold-webfont.woff') format('woff'),
        url('../../../assets/fonts/pixeloidsans-bold-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'Press Start 2P';
    src: url('../../../assets/fonts/PressStart2P.ttf') format('truetype'),
        url('../../../assets/fonts/pressstart2p-webfont.woff') format('woff'),
        url('../../../assets/fonts/pressstart2p-webfont.woff2') format('woff2');
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.box-wrapper {
    width: 140vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.scenarios {
    position: absolute;

    /* Mantener relación de aspecto 4:3 */
    aspect-ratio: 4 / 3;

    /* Dimensiones máximas */
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.time {
    position: absolute; 
    top: 12%;
    left: 14%;
    font-size: 3vh;
    font-family: 'Pixeloid Sans';
    color: white;
    /* border: 1px solid rgb(23, 221, 188); */
    z-index: 100;
}

.scenario {
    position: absolute;

    width: 100%;
    height: 100%;

    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

#scenario1 {
    background-image: url('../images/LEVEL\ 12.1.png');
}

.cherramientas {
    background-image: url('../images/Herramientas.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 40%;
    height: 22%;
    position: relative;
    left: 48%;
    top: 22%;

    /* border: 1px solid #09cf23; */
}

.cherramientas:hover {
    filter: drop-shadow(0 0 1vh rgba(255, 255, 255, 0.249));
    cursor: pointer;
}


.maquina{
    background-image: url('../images/maquina\ de\ coser.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    height: 33%;
    width: 33%;

    position: relative;
    left: 65%;
    top: 30%;
    /* border: 1px solid #09cf23; */
}

.maquina:hover{
    filter: drop-shadow(0 0 1vh rgba(255, 255, 255, 0.249));
    cursor: pointer;
}
.marco {
    background-image: url('../images/Marco.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;

    z-index: 1;
    clip-path: polygon(0% 0%, 0% 100%, 5.2% 100%, 5.2% 8%, 94.7% 8%, 94.7% 92%, 5.2% 92%, 5.2% 100%, 100% 100%, 100% 0%);
    background-color: black;
}

#scenario2 {
    left: 99%;
    background-image: url('../images/LEVEL\ 12.2.png');
}






#scenario3 {
    left: 198%;
    background-image: url('../images/LEVEL\ 12.3.png');
}

#scenario4 {
    left: 297%;
    background-image: url('../images/LEVEL\ 12.4.png');
}

.puerta {
    clip-path: polygon(-20% -20%, -20% 98.5%, 120% 98.5%, 120% -20%);
    background-image: url('../images/Puerta.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 30vh;
    height: 40vh;

    position: absolute;
    bottom: 22%;
    left: 20%;
}

.puerta:hover {
    filter: drop-shadow(0 0 1vh rgba(255, 255, 255, 0.249));
    cursor: pointer;
}

#character {
    width: 23vh;
    height: 25vh;

    background-repeat: no-repeat;
    background-size: cover;

    position: absolute;
    left: 10%;
    bottom: 35%;
}

.menu {
    background-image: url('../images/Menu.svg');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 10vh;
    height: 10vh;
    z-index: 1;

    position: absolute;
    top: 8.5%;
    left: 5.5%;
}

.menu:hover,
.help:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.menu:active,
.help:active {
    filter: brightness(90%);
    cursor: pointer;
}

.help {
    background-image: url('../images/Help.svg');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 10vh;
    height: 10vh;
    z-index: 1;

    position: absolute;
    top: 8.5%;
    right: 5.5%;
}

.img-help2 {
    margin: auto;

    width: 59.5vh;
    height: 60vh;

    background-image: url('../images/Help4.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    opacity: 0;
    transform: scale(0.1);
    transform: translateY(-20%);

    filter: drop-shadow(0 0 10px black);

    display: grid;
    grid-template-rows: 1fr repeat(4, 2fr) 1fr;
    grid-template-columns: auto;
    row-gap: 6%;
}

.modal {
    display: none;

    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
}

.contrast {
    background-color: rgba(0, 0, 0, 0.3);
}

.contenido-modal-menu {
    margin: auto;

    width: 59.5vh;
    height: 60vh;

    background-image: url('../images/Menu-content.svg');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    opacity: 0;
    transform: scale(0.1);
    transform: translateY(-20%);

    filter: drop-shadow(0 0 10px black);

    display: grid;
    grid-template-rows: 1fr repeat(4, 2fr) 1fr;
    grid-template-columns: auto;
    row-gap: 6%;
}

.show-menu {
    animation: show-menu 0.3s ease-in-out forwards;
}

@keyframes show-menu {
    from {
        opacity: 0;
        transform: scale(0.1);
        transform: translateY(-20%);
    }

    to {
        opacity: 1;
        transform: scale(1);
        transform: translateY(30%);
    }
}

.hide-menu {
    animation: hide-menu 0.3s ease-in-out forwards;
}

@keyframes hide-menu {
    from {
        opacity: 1;
        transform: scale(1);
        transform: translateY(30%);
    }

    to {
        opacity: 0;
        transform: scale(0.1);
        transform: translateY(-20%);
    }
}

.btn {
    background-image: url('../images/Btn.svg');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Super Pixel';
    font-size: 3.5vh;
    color: black;
    text-decoration: none;
}

.btn:nth-child(1) {
    grid-row: 2 / 3;
}

.btn:nth-child(2) {
    grid-row: 3 / 4;
}

.btn:nth-child(3) {
    grid-row: 4 / 5;
}

.btn:nth-child(4) {
    background-image: url('../images/btn-red.svg');
    grid-row: 5 / 6;
}

.btn:hover {
    filter: brightness(75%);
    cursor: pointer;
}

.btn:active {
    filter: brightness(85%);
}

.contenido-modal-help {
    width: auto;
    height: auto;

    padding: 2vh;

    background-color: rgb(255, 246, 230);
    border: 1vh solid black;

    opacity: 0;

    position: absolute;
    right: -6%;
    top: 7.9%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 3vh;
    font-family: 'Pixeloid Sans';
    text-align: center;
}

.show-help {
    animation: show-help 0.3s ease-in-out forwards;
}

@keyframes show-help {
    from {
        opacity: 0;
        right: -6%;
    }

    to {
        opacity: 1;
        right: 5.2%;
    }
}

.hide-help {
    animation: hide-help 0.3s ease-in-out forwards;
}

@keyframes hide-help {
    from {
        opacity: 1;
        right: 5.2%;
    }

    to {
        opacity: 0;
        right: -6%;
    }
}

.contenido-modal-ask {
    width: 55%;
    height: 41vh;

    background-image: url('../images/Herramientas_Modal.png');
    background-repeat: no-repeat;
    background-size: contain;

    padding: 2vh;

    opacity: 0;

    position: absolute;
    top: 20%;
    right: 21.4%;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);

    font-size: 4vh;
    font-family: 'Pixeloid Sans';
    text-align: center;
    /* border: 1px solid #09cf23; */
}

.show-ask {
    animation: show-ask 0.5s ease-in-out forwards;
}

@keyframes show-ask {
    from {
        opacity: 0;
        top: -20%;
    }

    to {
        opacity: 1;
        top: 20;
    }
}

.hide-ask {
    animation: hide-ask 0.5s ease-in-out forwards;
}

@keyframes hide-ask {
    from {
        opacity: 1;
        top: 20;
    }

    to {
        opacity: 0;
        top: -20%;
    }
}

.linterna {
    background-image: url('../images/linterna.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 60%;
    height: 10vh;

    position: relative;
    left: 5%;
    top: 20%;
}

.linterna2 {
    background-image: url('../images/linterna.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    grid-area: 2 / 1 / 3 / 2;

    width: 60%;
    height: 10vh;

    position: relative;
    left: 5%;
    top: 10%;

    /* border: 1px solid #09cf23; */
}

.linterna3{
    background-image: url('../images/linterna_diferente.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    grid-area: 3 / 1 / 4 / 2;

    width: 60%;
    height: 10vh;

    position: relative;
    left: 5%;
    top: 10%;
}

.lupa {
    background-image: url('../images/lupa.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 60%;
    height: 10vh;

    position: relative;
    left: 20%;
    top: 20%;
    /* border: 1px solid #09cf23;  */
}

.lupa2 {
    background-image: url('../images/lupa_diferente.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    grid-area: 2 / 2 / 3 / 3;
    width: 60%;
    height: 10vh;

    position: relative;
    left: 20%;
    top: 15%;

    /* border: 1px solid #09cf23; */
}

.lupa3{
    background-image: url('../images/lupa.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    grid-area: 3 / 2 / 4 / 3;

    width: 60%;
    height: 10vh;

    position: relative;
    left: 20%;
    top: 10%;
}

.botiquin {
    background-image: url('../images/botiquin_diferente.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 50%;
    height: 12vh;

    position: relative;
    left: 28%;
    top: 15%;
 
}

.botiquin2{
    background-image: url('../images/botiquin.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    grid-area: 2 / 3 / 3 / 4;
    width: 50%;
    height: 12vh;

    position: relative;
    left: 28%;
    

    /* border: 1px solid #09cf23; */
}

.botiquin3{
    background-image: url('../images/botiquin.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    grid-area: 3 / 3 / 4 / 4;

    width: 50%;
    height: 12vh;

    position: relative;
    left: 28%;
    top: -5%;
}

.herramienta {
    background-image: url('../images/herramienta__.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 50%;
    height: 12vh;

    position: relative;
    left: 40%;
    top: 15%;

    
    /* border: 1px solid #09cf23; */
 
}

.herramienta2{
    background-image: url('../images/herramienta__.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    grid-area: 2 / 4 / 3 / 5;
    width: 50%;
    height: 12vh;

    position: relative;
    left: 40%;
    top: 10%;
    

    /* border: 1px solid #09cf23; */
}

.herramienta3{
    background-image: url('../images/herramienta__diferente.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    grid-area: 3 / 4 / 4 / 5;

    width: 50%;
    height: 10vh;

    position: relative;
    left: 40%;
    top: 2%;

    /* border: 1px solid #09cf23; */
}

.hover {
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.hover:hover {
    transform: scale(1.1);
}

.selected {
    box-shadow: 0 0 15px 5px rgba(104, 112, 157, 0.7);

    transform: scale(1);
}

.incorrect {
    box-shadow: 0 0 15px 5px rgba(255, 0, 0, 0.7);
    border: 2px solid red;
}

/* .modal.contrast {
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
} */

.message-container {
    display: none;
    opacity: 0;

    position: absolute;
    z-index: 3;
    right: -28%;
    bottom: -40%;

    width: auto;
    max-width: 25vw;
    height: auto;
    font-size: 4vh;
    font-family: 'Pixeloid Sans';
    text-align: center;

    padding: 2%;
    background-color: rgb(199, 199, 199);
    border: 1.5vh solid black;

    transition: opacity 0.5s ease-in-out; 
}

.message-container.show {
    display: block;
    opacity: 1;
}

.message-container.hide {
    opacity: 0;
}

.contenido{
    position: absolute;
    z-index: 3;
    left: 15%;

    bottom: -55%;
    width: 65%;
    height: 35%;
    font-size: 4vh;
    font-family: 'Pixeloid Sans';
    text-align: center;

    padding: 2%;
    background-color: rgb(199, 199, 199);
    border: 1.5vh solid black;

}

.texto {
    font-size: 3vh;
    color: black;
    text-align: center center;
    width: 100%;
    position: absolute;
    right: -1%;
    top: 4%;
}

.mesa-cosedora {
    width: 35%;
    height: 60vh;

    background-image: url('../images/mesadecoser.png');
    background-repeat: no-repeat;
    background-size: contain;

    padding: 2vh;

    opacity: 0;

    position: absolute;
    top: 15%;
    left: 32%;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);

    font-size: 4vh;
    font-family: 'Pixeloid Sans';
    text-align: center;
    /* border: 1px solid #09cf23; */
}

.show-coser {
    animation: show-coser 0.5s ease-in-out forwards;
}

@keyframes show-coser {
    from {
        opacity: 0;
        top: -20%;
    }

    to {
        opacity: 1;
        top: 20;
    }
}

.hide-coser {
    animation: hide-coser 0.5s ease-in-out forwards;
}

@keyframes hide-coser {
    from {
        opacity: 1;
        top: 20;
    }

    to {
        opacity: 0;
        top: -20%;
    }
}

.hNegro {
    background-image: url('../images/hNegro.png');
    background-position: center center; 
    background-size: contain;
    background-repeat: no-repeat;
    width: 20vh;
    height: 20vh;
    position: absolute;
    cursor: pointer;
    left: 2%;
    top: 10%;
    z-index: 0;
    grid-area: 1/1/2/2;
    /* border: 1px solid #09cf23; */
}
.hAmarillo {
    background-image: url('../images/hAmarillo.png');
    background-position: center center; 
    background-size: contain;
    background-repeat: no-repeat;
    width: 20vh;
    height: 20vh;
    position: absolute;
    cursor: pointer;
    left: -5%;
    top: 10%;
    z-index: 0;
    grid-area: 1/2/2/3;
     /* border: 1px solid #09cf23; */
}
.hAzul {
    background-image: url('../images/hAzul.png');
    background-position: center center; 
    background-size: contain;
    background-repeat: no-repeat;
    width: 20vh;
    height: 20vh;
    position: absolute;
    cursor: pointer;
    left: -5%;
    top: 10%;
    z-index: 0;
    grid-area: 1/3/2/4;
     /* border: 1px solid #09cf23; */
}
.hRojo {
    background-image: url('../images/hRojo.png');
    background-position: center center; 
    background-size: contain;
    background-repeat: no-repeat;
    width: 20vh;
    height: 20vh;
    position: absolute;
    cursor: pointer;
    left: -5%;
    top: 10%;
    z-index: 0;
    grid-area: 1/4/2/5;
     /* border: 1px solid #09cf23; */
}
.hRosa {
    background-image: url('../images/hRosa.png');
    background-position: center center; 
    background-size: contain;
    background-repeat: no-repeat;
    width: 20vh;
    height: 20vh;
    position: absolute;
    cursor: pointer;
    left: 5%;
    top: 15%;
    z-index: 0;
    grid-area: 2/1/3/2;
     /* border: 1px solid #09cf23; */
}
.hVerde {
    background-image: url('../images/hVerde.png');
    background-position: center center; 
    background-size: contain;
    background-repeat: no-repeat;
    width: 20vh;
    height: 20vh;
    position: absolute;
    cursor: pointer;
    left: -5%;
    top: 15%;
    z-index: 0;
    grid-area: 2/2/3/3;
     /* border: 1px solid #09cf23; */
}
.hBlanco {
    background-image: url('../images/hBlanco.png');
    background-position: center center; 
    background-size: contain;
    background-repeat: no-repeat;
    width: 20vh;
    height: 20vh;
    position: absolute;
    cursor: pointer;
    left: -5%;
    top: 15%;
    z-index: 0;
    grid-area: 2/3/3/4;
     /* border: 1px solid #09cf23; */
}
.hMorado {
    background-image: url('../images/hMorado.png');
    background-position: center center; 
    background-size: contain;
    background-repeat: no-repeat;
    width: 20vh;
    height: 20vh;
    position: absolute;
    cursor: pointer;
    left: -5%;
    top: 15%;
    z-index: 0;
    grid-area: 2/4/3/5;
     /* border: 1px solid #09cf23; */
}

.radio {
    background-image: url('../images/radio.png');
    background-position: center center; 
    background-size: contain;
    background-repeat: no-repeat;
    width: 10vh;
    height: 10vh;
    position: absolute;
    cursor: pointer;
    right: 49.9%;
    bottom: 25.8%;
    z-index: 0;
    grid-area: 3/1/4/2;
     /* border: 1px solid #09cf23; */
}

.hilo.selected {
    box-shadow: 0 0 10px rgb(156, 132, 61);
}

.contenido2{
    position: absolute;
    z-index: 3;
    left: 10%;

    bottom: -18%;
    width: 75%;
    height: 30%;
    font-size: 2vh;
    font-family: 'Pixeloid Sans';
    text-align: center;

    padding: 2%;
    background-color: rgb(199, 199, 199);
    border: 1.5vh solid black;

}

.texto-Res {
    font-size: 2.8vh;
    color: black;
    text-align: center center;
    width: 100%;
    position: absolute;
    right: -1%;
    top: 10%;
}