html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.box-wrapper {
    width: 140vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.scenario {
    position: absolute;

    /* Mantener relación de aspecto 4:3 */
    aspect-ratio: 4 / 3;

    /* Dimensiones máximas */
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    background-color: black;
}

#scenario1 {
    background-image: url('../images/Escenario1.png');
}

.cuadro {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 29vh;
    height: 29vh;

    position: absolute;
}

.cuadro:hover {
    filter: drop-shadow(0 0 1vh rgba(255, 255, 255, 0.249));
    cursor: pointer;
}

.cuadro:active {
    filter: drop-shadow(0 0 2vh rgba(255, 255, 255, 0.518));
}

#cuadro-1 {
    background-image: url('../images/Cuadro-cafe.png');

    top: 23.8%;
    left: 10.5%;
}

#cuadro-2 {
    background-image: url('../images/Cuadro-verde.png');

    width: 27vh;
    height: 27vh;

    top: 24.9%;
    left: 35.5%;
}

.marco {
    background-image: url('../images/Marco.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;

    z-index: 1;
    clip-path: polygon(0% 0%, 0% 100%, 5.2% 100%, 5.2% 8%, 94.7% 8%, 94.7% 92%, 5.2% 92%, 5.2% 100%, 100% 100%, 100% 0%);
    background-color: black;
}

#scenario2 {
    left: 100%;
    background-image: url('../images/Escenario0.png');
}

#cuadro-3 {
    background-image: url('../images/Cuadro-morado.png');

    top: 23.5%;
    right: 26.7%;
}

.puerta {
    clip-path: polygon(-20% -20%, -20% 98.5%, 120% 98.5%, 120% -20%);
    background-image: url('../images/Puerta.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 30vh;
    height: 40vh;

    position: absolute;
    bottom: 22%;
    left: 10%;
}

.puerta:hover {
    filter: drop-shadow(0 0 1vh rgba(255, 255, 255, 0.249));
    cursor: pointer;
}

.libreria {
    background-image: url('../images/Libreria.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 30vh;
    height: 30vh;

    position: absolute;
    bottom: 19.5%;
    right: 5.8%;
}

#scenario3 {
    left: 200%;
    background-image: url('../images/Escenario.png');
}

#character {
    width: 23vh;
    height: 25vh;

    background-image: url('../images/character.png');
    background-repeat: no-repeat;
    background-size: cover;

    position: absolute;
    left: 10%;
    top: 60%;
}