.fondo {
    grid-template-columns: 1fr 4fr 1fr 4fr 1fr 4fr 1fr 4fr 1fr;
    grid-template-rows: 1fr 3fr 2fr 2fr 5fr 1fr 3fr 2fr;

    background-image: url('../images/waitingRoomADM.svg');
}

.tittle {
    grid-area: 2 / 4 / 2 / 7;

    font-size: 15vh;
}

.jugadores {
    grid-area: 4 / 4 / 4 / 7;
    font-family: 'Super Pixel';
    color: rgb(255, 255, 255);
}

.text {
    text-align: center;
    font-size: 4vh;
}

.recuadrocod {
    grid-area: 3 / 3 / 3 / 8;
    border: 0;

    background-image: url('../images/codigo.svg');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

    text-align: center;
    place-self: center center;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 70%;

    font-size: 5vh;
    font-family: 'Pixeloid Sans';
    color: rgb(223, 221, 221);
}

.btn {
    grid-area: 6 / 4 / 8 / 7;
    background-image: url('../images/btn-blue.svg');
    align-self: end;
    width: 35vh;
    /* background-color: red; */
    height: 10vh;
    font-size: 4vh;
    position: relative;
    /*Agregar posición absoluta*/
    bottom: 30%;
    /*left: 50%;
    transform: translateX(-50%); /* Centrar horizontalmente */
}

.btn:hover {
    filter: brightness(90%);
    cursor: pointer;
}

.btn:active {
    filter: brightness(80%);
}

.recuadroPersonajes {
    grid-area: 5 / 2 / 5 / 9;
    display: grid;

    /*grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Ajusta los objetos automáticamente */
    /*gap: 20px; /* Espacio entre objetos */
    justify-items: center;
    /* Centra cada objeto horizontalmente */
    justify-content: center;
    /* Centra el contenido total de la fila */
}

#listaJugadores {
    margin: 1vh auto;
    width: 85%;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1vh 15vh;
}

.jugador {
    display: grid;
    grid-template-rows: 4fr 2fr;
}

.cuadroPersonaje {
    grid-row: 1 / 2;

    background-image: url('../images/user.svg');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

    width: 22vh;

    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    justify-self: center;

}

.personaje {
    grid-area: 2 / 2 / 3 / 3;

    background-image: url('../images/personaje.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

    height: 12vh;
}

.nombreJugador {
    grid-row: 2 / 3;

    text-align: center;
    font-size: 5vh;

    font-family: 'Pixeloid Sans Bold';
    color: rgb(255, 255, 255);
}

.btn-back {
    grid-area: 2 / 2 / 3 / 3;

    justify-self: center;
}

a {
    text-decoration: none;
    color: black;
}

.chat {

    position: absolute;

    right: 2.5%;
    bottom: 5%;

    width: 30vw;

    height: auto;
    max-height: 80vh;

    background-color: rgba(255, 247, 230, 0.7);
    border: 1.2vh solid black;

    display: flex;
    flex-direction: column;

    padding: 1.5%;
}

.chat-messages {
    overflow-y: auto;
    scroll-behavior: smooth;

    overflow-x: hidden;

    word-break: break-all;
    height: auto;
    min-height: 10vh;

    font-family: 'Pixeloid Sans';
}

.chat-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    height: 5vh;
    margin-top: 5%;
}

.message-sent {
    font-size: 3vh;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border: 0.5vh solid black;

    text-align: left;
}

.send {
    all: unset;

    font-size: 2vh;
    color: white;
    background-color: black;
    border: 0.5vh solid black;
    height: 100%;

    width: 15%;
    text-align: center;
}

.message {
    font-size: 3vh;

    text-overflow: clip;
}

.me {
    text-align: right;
}