@font-face {
    font-family: 'Pixeloid Sans';
    src: url('../../../assets/fonts/PixeloidSans.ttf') format('truetype'),
        url('../../../assets/fonts/pixeloidsans-webfont.woff') format('woff'),
        url('../../../assets/fonts/pixeloidsans-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'Pixeloid Sans Bold';
    src: url('../../../assets/fonts/PixeloidSans-Bold.ttf') format('truetype'),
        url('../../../assets/fonts/pixeloidsans-bold-webfont.woff') format('woff'),
        url('../../../assets/fonts/pixeloidsans-bold-webfont.woff2') format('woff2');
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.box-wrapper {
    width: 140vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}


.scenarios {
    position: absolute;

    /* Mantener relación de aspecto 4:3 */
    aspect-ratio: 4 / 3;

    /* Dimensiones máximas */
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.scenario {
    position: absolute;

    width: 100%;
    height: 100%;

    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.scenario:nth-child(1) {
    background-image: url('../images/MAP0.png');
}

.scenario:nth-child(2) {
    left: 100%;
    background-image: url('../images/MAP1.png');
}

.scenario:nth-child(3) {
    left: 200%;
    background-image: url('../images/MAP2.png');
}

.scenario:nth-child(4) {
    left: 300%;
    background-image: url('../images/MAP3.png');
}

.scenario:nth-child(5) {
    left: 400%;
    background-image: url('../images/MAP4.png');
}

.scenario:nth-child(6) {
    left: 500%;
    background-image: url('../images/MAP5.png');
}

.scenario:nth-child(7) {
    left: 600%;
    background-image: url('../images/MAP6.png');
}

.scenario:nth-child(8) {
    left: 700%;
    background-image: url('../images/MAP7.png');
}

.scenario:nth-child(9) {
    left: 800%;
    background-image: url('../images/MAP8.png');
}

.scenario:nth-child(10) {
    left: 900%;
    background-image: url('../images/MAP9.png');
}

.scenario:nth-child(11) {
    left: 1000%;
    background-image: url('../images/MAP10.png');
}

.scenario:nth-child(12) {
    left: 1100%;
    background-image: url('../images/MAP11.png');
}

.scenario:nth-child(13) {
    left: 1200%;
    background-image: url('../images/MAP12.png');
}

.scenario:nth-child(14) {
    left: 1300%;
    background-image: url('../images/MAP13.png');
}

.scenario:nth-child(15) {
    left: 1400%;
    background-image: url('../images/MAP14.png');
}

.marco {
    background-image: url('../images/Marco.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;

    z-index: 1;
    clip-path: polygon(0% 0%, 0% 100%, 5.2% 100%, 5.2% 8%, 94.7% 8%, 94.7% 92%, 5.2% 92%, 5.2% 100%, 100% 100%, 100% 0%);
    background-color: black;
}


.puerta {
    clip-path: polygon(-20% -20%, -20% 98.5%, 120% 98.5%, 120% -20%);
    background-image: url('../images/door.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 30vh;
    height: 40vh;

    position: absolute;
    bottom: 24.03%;
    left: 31.35%;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
}

.puerta>p {
    font-size: 5dvh;

    font-family: 'Pixeloid Sans Bold';

    color: white;

    position: relative;
    bottom: 10%;

    text-align: center;
}

.puerta:hover {
    filter: drop-shadow(0 0 1vh rgba(255, 255, 255, 0.249));
    cursor: pointer;
}


#character {
    width: 22.5vh;
    height: 25vh;

    background-repeat: no-repeat;
    background-size: cover;

    position: absolute;
    left: calc(50% - 11.25vh);
    bottom: 10%;
}

.btn-back {
    background-image: url('../images/btn-back.svg');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 10vh;
    height: 10vh;
    z-index: 1;

    position: absolute;
    top: 8.5%;
    left: 5.5%;
}

.btn-back:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.btn-back:active {
    filter: brightness(90%);
    cursor: pointer;
}