@font-face {
    font-family: 'Super Pixel';
    src: url('../../../assets/fonts/Super-Pixel-Personal-Use.ttf') format('truetype'),
        url('../../../assets/fonts/super-pixel-personal-use-webfont.woff') format('woff'),
        url('../../../assets/fonts/super-pixel-personal-use-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'Pixeloid Sans';
    src: url('../../../assets/fonts/PixeloidSans.ttf') format('truetype'),
        url('../../../assets/fonts/pixeloidsans-webfont.woff') format('woff'),
        url('../../../assets/fonts/pixeloidsans-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'Pixeloid Sans Bold';
    src: url('../../../assets/fonts/PixeloidSans-Bold.ttf') format('truetype'),
        url('../../../assets/fonts/pixeloidsans-bold-webfont.woff') format('woff'),
        url('../../../assets/fonts/pixeloidsans-bold-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'Press Start 2P';
    src: url('../../../assets/fonts/PressStart2P.ttf') format('truetype'),
        url('../../../assets/fonts/pressstart2p-webfont.woff') format('woff'),
        url('../../../assets/fonts/pressstart2p-webfont.woff2') format('woff2');
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.box-wrapper {
    width: 140vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.scenarios {
    position: absolute;

    /* Mantener relación de aspecto 4:3 */
    aspect-ratio: 4 / 3;

    /* Dimensiones máximas */
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.time {
    position: absolute; 
    top: 12%;
    left: 14%;
    font-size: 3vh;
    font-family: 'Pixeloid Sans';
    color: white;
    /* border: 1px solid rgb(23, 221, 188); */
    z-index: 100;
}

.scenario {
    position: absolute;

    width: 100%;
    height: 100%;

    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

#scenario1 {
    background-image: url('../images/LEVEL\ 8.1.png');
}

.marco {
    background-image: url('../images/Marco.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;

    z-index: 1;
    clip-path: polygon(0% 0%, 0% 100%, 5.2% 100%, 5.2% 8%, 94.7% 8%, 94.7% 92%, 5.2% 92%, 5.2% 100%, 100% 100%, 100% 0%);
    background-color: black;
}

#scenario2 {
    left: 99%;
    background-image: url('../images/LEVEL\ 8.2.png');
}






#scenario3 {
    left: 198%;
    background-image: url('../images/LEVEL\ 8.3.png');
}





.puerta {
    clip-path: polygon(-20% -20%, -20% 98.5%, 120% 98.5%, 120% -20%);
    background-image: url('../images/Puerta.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 30vh;
    height: 40vh;

    position: absolute;
    bottom: 21.8%;
    left: 15%;
}

.puerta:hover {
    filter: drop-shadow(0 0 1vh rgba(255, 255, 255, 0.249));
    cursor: pointer;
}

#character {
    width: 23vh;
    height: 25vh;

    background-repeat: no-repeat;
    background-size: cover;

    position: absolute;
    left: 10%;
    bottom: 35%;
}

.menu {
    background-image: url('../images/Menu.svg');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 10vh;
    height: 10vh;
    z-index: 1;

    position: absolute;
    top: 8.5%;
    left: 5.5%;
}

.menu:hover,
.help:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.menu:active,
.help:active {
    filter: brightness(90%);
    cursor: pointer;
}

.help {
    background-image: url('../images/Help.svg');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 10vh;
    height: 10vh;
    z-index: 1;

    position: absolute;
    top: 8.5%;
    right: 5.5%;
}

.img-help2 {
    margin: auto;

    width: 59.5vh;
    height: 60vh;

    background-image: url('../images/Help4.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    opacity: 0;
    transform: scale(0.1);
    transform: translateY(-20%);

    filter: drop-shadow(0 0 10px black);

    display: grid;
    grid-template-rows: 1fr repeat(4, 2fr) 1fr;
    grid-template-columns: auto;
    row-gap: 6%;
}

.modal {
    display: none;

    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
}

.contrast {
    background-color: rgba(0, 0, 0, 0.3);
}

.contenido-modal-menu {
    margin: auto;

    width: 59.5vh;
    height: 60vh;

    background-image: url('../images/Menu-content.svg');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    opacity: 0;
    transform: scale(0.1);
    transform: translateY(-20%);

    filter: drop-shadow(0 0 10px black);

    display: grid;
    grid-template-rows: 1fr repeat(4, 2fr) 1fr;
    grid-template-columns: auto;
    row-gap: 6%;
}

.show-menu {
    animation: show-menu 0.3s ease-in-out forwards;
}

@keyframes show-menu {
    from {
        opacity: 0;
        transform: scale(0.1);
        transform: translateY(-20%);
    }

    to {
        opacity: 1;
        transform: scale(1);
        transform: translateY(30%);
    }
}

.hide-menu {
    animation: hide-menu 0.3s ease-in-out forwards;
}

@keyframes hide-menu {
    from {
        opacity: 1;
        transform: scale(1);
        transform: translateY(30%);
    }

    to {
        opacity: 0;
        transform: scale(0.1);
        transform: translateY(-20%);
    }
}

.btn {
    background-image: url('../images/Btn.svg');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Super Pixel';
    font-size: 3.5vh;
    color: black;
    text-decoration: none;
}

.btn:nth-child(1) {
    grid-row: 2 / 3;
}

.btn:nth-child(2) {
    grid-row: 3 / 4;
}

.btn:nth-child(3) {
    grid-row: 4 / 5;
}

.btn:nth-child(4) {
    background-image: url('../images/btn-red.svg');
    grid-row: 5 / 6;
}

.btn:hover {
    filter: brightness(75%);
    cursor: pointer;
}

.btn:active {
    filter: brightness(85%);
}

.contenido-modal-help {
    width: auto;
    height: auto;

    padding: 2vh;

    background-color: rgb(255, 246, 230);
    border: 1vh solid black;

    opacity: 0;

    position: absolute;
    right: -6%;
    top: 7.9%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 3vh;
    font-family: 'Pixeloid Sans';
    text-align: center;
}

.show-help {
    animation: show-help 0.3s ease-in-out forwards;
}

@keyframes show-help {
    from {
        opacity: 0;
        right: -6%;
    }

    to {
        opacity: 1;
        right: 5.2%;
    }
}

.hide-help {
    animation: hide-help 0.3s ease-in-out forwards;
}

@keyframes hide-help {
    from {
        opacity: 1;
        right: 5.2%;
    }

    to {
        opacity: 0;
        right: -6%;
    }
}

.show-ask {
    animation: show-ask 0.5s ease-in-out forwards;
}

@keyframes show-ask {
    from {
        opacity: 0;
        top: -20%;
    }

    to {
        opacity: 1;
        top: 20;
    }
}

.hide-ask {
    animation: hide-ask 0.5s ease-in-out forwards;
}

@keyframes hide-ask {
    from {
        opacity: 1;
        top: 20;
    }

    to {
        opacity: 0;
        top: -20%;
    }
}

.btn-close {
    background-image: url('../images/exit.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    /* border: 1px #af2b2b solid; */
    width: 5vh;
    height: 5vh;
    grid-area: 1/5/2/6;
    display: grid;

    justify-self: center;
    align-self: center;

    margin-bottom: 50%;

}

.text-1 {
    /* border: 1px #af2b2b solid; */
    color: #00BD09;
    grid-area: 1 / 1 / 2 / 6;
    text-align: center;
    display: grid;

    justify-self: center;
    align-self: center;

    margin-top: 10%;
    font-family: 'Press Start 2P';
}

.cofre {
    background-image: url('../images/cerrado.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 15%;
    height: 25%;
    top: 60%;
    right: 45%;
    position: absolute;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
   
}
.cofre.moved {
    transform: translateX(40%);
}

.contenido-modal-ask {
    width: 90%;
    height: 75%;
    
   
    background-image: url('../images/papel.png');
    background-repeat: no-repeat;
    background-size: contain;
    
    padding: 2vh;
    
    opacity: 0;
    
    position: absolute;
    top: 10%;
    left: 12%;
    z-index: 8;

    display: grid;
    grid-template-rows: 2fr 2fr 1fr 1fr;
    grid-template-columns: repeat(5, 1fr);

    font-size: 4vh;
    font-family: 'Pixeloid Sans';
    text-align: center;
}

.conjunto1 {
    background-image: url('../images/conjunto1.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;

    /* border: 1px #af2b2b solid; */
    width: 40vh;
    aspect-ratio: 1/1;
    grid-area: 3/ 1/ 5/ 4;

    position: relative;
    right: 230%;
    top: 45%;

    display: grid;

    justify-self: center;
    align-self: end;

    /* margin-bottom: 10%; */
    /* bottom: 45%; */
}
.conjunto2{
    background-image: url('../images/conjunto1.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;

    /* border: 1px #af2b2b solid; */
    width: 40vh;
    aspect-ratio: 1/1;
    grid-area: 3/ 1/ 5/ 4;

    position: relative;
    right: 170%;
    top: 45%;

    display: grid;

    justify-self: center;
    align-self: end;

    /* margin-bottom: 10%; */
    /* bottom: 45%; */
}
.objeto1{
    background-image: url('../images/cajon.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 12vh;
    height: auto;
    aspect-ratio: 1/1;
    position: absolute;
    right: 65%;
    top: 30%;
}
.objeto2{
    background-image: url('../images/mesa.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 12vh;
    height: auto;
    aspect-ratio: 1/1;
    position: absolute;
    right: 72%;
    top: 45%;
}
.objeto3{
    background-image: url('../images/estante.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 12vh;
    height: auto;
    aspect-ratio: 1/1;
    position: absolute;
    right: 72%;
    top: 55%;
}
.objeto4{
    background-image: url('../images/silla.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 12vh;
    height: auto;
    aspect-ratio: 1/1;
    position: absolute;
    right: 63%;
    top: 65%;
}
.objeto5{
    background-image: url('../images/cala1.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 7vh;
    height: auto;
    aspect-ratio: 1/1;
    position: absolute;
    right: 40%;
    top: 65%;
}
.objeto6{
    background-image: url('../images/cala2.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 13vh;
    height: auto;
    aspect-ratio: 1/1;
    position: absolute;
    right: 48%;
    top: 31%;
}
.objeto7{
    background-image: url('../images/cande.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 13vh;
    height: auto;
    aspect-ratio: 1/1;
    position: absolute;
    right: 42%;
    top: 35%;
}
.objeto8{
    background-image: url('../images/cuadro.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 13vh;
    height: auto;
    aspect-ratio: 1/1;
    position: absolute;
    right: 40%;
    top: 49%;
}
.objeto9{
    background-image: url('../images/fantasma.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 13vh;
    height: auto;
    aspect-ratio: 1/1;
    position: absolute;
    right: 45%;
    top: 63%;
}
.signo{
    background-image: url('../images/signo.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 12vh;
    height: auto;
    aspect-ratio: 1/1;
    position: absolute;
    right: 54%;
    top: 47%;
}
.mesa{
    background-image: url('../images/mesa.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 48vh;
    height: auto;
    aspect-ratio: 1/1;
    position: absolute;
    right: 40%;
    top: 51%;
    cursor: pointer;
}

.cande{
    background-image: url('../images/cande.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 32vh;
    height: auto;
    aspect-ratio: 1/1;
    position: absolute;
    right: 9%;
    top: 53%;
    cursor: pointer;
}

.silla{
    background-image: url('../images/silla.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 28vh;
    height: auto;
    aspect-ratio: 1/1;
    position: absolute;
    right: 2%;
    top: 60%;
    cursor: pointer;
} 

.silla-cambiada {
    background-image: url('../images/silla2.png');
}

.mesa-cambiada {
    background-image: url('../images/mesa2.png');
}

.cande-cambiada {
    background-image: url('../images/cande2.png');
}
