.fondo {
    background-image: url('../assets/images/Fondo_in_game.svg');

    grid-template-columns: 2fr 2fr 3fr 2fr 2fr;
    grid-template-rows: 2fr 3fr 3fr 3fr 1fr;
}

.tittle {
    grid-area: 1 / 3 / 2 / 4;
}

.recuadro {
    grid-area: 2 / 2 / 5 / 5;

    background-image: url('../assets/images/Cuadro.svg');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

    padding: 3%;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.codigo {
    grid-area: 1 / 3 / 2 / 6;

    justify-self: center;
    align-self: center;

    background-image: url('../assets/images/codigo.svg');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

    width: 50vh;
    height: 80%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 4vh;
    font-family: 'Pixeloid Sans';
    font-weight: bolder;
    color: white;
}

table {
    grid-area: 2 / 2 / 5 / 7;

    font-size: 4vh;
    font-family: 'Pixeloid Sans';
    font-weight: bolder;
}

tr {
    text-align: center;
}

tr>td:first-child,
tr>th:first-child {
    text-align: left;
}

td {
    color: #737373;
}