@font-face {
    font-family: 'Super Pixel';
    src: url('/public/assets/fonts/Super-Pixel-Personal-Use.ttf') format('truetype'),
        url('/public/assets/fonts/super-pixel-personal-use-webfont.woff') format('woff'),
        url('/public/assets/fonts/super-pixel-personal-use-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'Pixeloid Sans';
    src: url('/public/assets/fonts/PixeloidSans.ttf') format('truetype'),
        url('/public/assets/fonts/pixeloidsans-webfont.woff') format('woff'),
        url('/public/assets/fonts/pixeloidsans-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'Pixeloid Sans Bold';
    src: url('/public/assets/fonts/PixeloidSans-Bold.ttf') format('truetype'),
        url('/public/assets/fonts/pixeloidsans-bold-webfont.woff') format('woff'),
        url('/public/assets/fonts/pixeloidsans-bold-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'Press Start 2P';
    src: url('/public/assets/fonts/PressStart2P.ttf') format('truetype'),
        url('/public/assets/fonts/pressstart2p-webfont.woff') format('woff'),
        url('/public/assets/fonts/pressstart2p-webfont.woff2') format('woff2');
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.box-wrapper {
    width: 140vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.scenarios {
    position: absolute;

    /* Mantener relación de aspecto 4:3 */
    aspect-ratio: 4 / 3;

    /* Dimensiones máximas */
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.time {
    position: absolute;
    top: 12%;
    left: 14%;
    font-size: 3vh;
    font-family: 'Pixeloid Sans';
    color: white;
    /* border: 1px solid rgb(23, 221, 188); */
    z-index: 100;
}

.scenario {
    position: absolute;

    width: 100%;
    height: 100%;

    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

#scenario1 {
    background-image: url('../images/LEVEL\ 5.1.png');
}

.marco {
    background-image: url('../images/Marco.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;

    z-index: 1;
    clip-path: polygon(0% 0%, 0% 100%, 5.2% 100%, 5.2% 8%, 94.7% 8%, 94.7% 92%, 5.2% 92%, 5.2% 100%, 100% 100%, 100% 0%);
    background-color: black;
}

#scenario2 {
    left: 99%;
    background-image: url('../images/LEVEL\ 5.2.png');
}

.mueble {
    background-image: url('../images/mueble.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 85%;
    height: 41%;

    position: absolute;
    top: 48%;
    right: 25%;
}

.lava-platos {
    background-image: url('../images/lava-platos.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 17%;
    height: 31%;

    position: absolute;

    /* border: 1px solid #09cf23; */
    top: 52%;
    left: 1%;
}

.lava-platos:hover {
    filter: drop-shadow(0 0 1vh rgba(255, 255, 255, 0.249));
    cursor: pointer;
}

.cajon {
    background-image: url('../images/cajon.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 25%;
    height: 21%;

    position: absolute;
    top: 47.9%;
    left: 41%;
}

.cajon:hover {
    filter: drop-shadow(0 0 1vh rgba(255, 255, 255, 0.249));
    cursor: pointer;
}

#scenario3 {
    left: 198%;
    background-image: url('../images/LEVEL\ 5.3.png');
}

video {
    width: 30%;
    height: 25%;
    position: absolute;
    top: 18%;
    right: 35%;
}

.mueble-platos {
    background-image: url('../images/mueble-platos.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 35%;
    height: 25%;

    position: absolute;
    top: 59.3%;
    left: 9%;
}

.mueble-platos:hover {
    filter: drop-shadow(0 0 1vh rgba(255, 255, 255, 0.249));
    cursor: pointer;
}

.estante-platos {
    background-image: url('../images/estante-platos.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 17.9%;
    height: 40%;

    /* border: 1px solid #09cf23; */
    position: absolute;
    top: 45%;
    left: -1.6%;
}

.estante-platos:hover {
    filter: drop-shadow(0 0 1vh rgba(255, 255, 255, 0.249));
    cursor: pointer;
}

#scenario4 {
    left: 297%;
    background-image: url('../images/LEVEL\ 5.4.png');
}

.cuadro {
    background-image: url('../images/cuadro.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    width: 30%;
    height: 40%;
    /* border: 1px solid #09cf23; */

    position: absolute;
    top: 16%;
    left: 14%;

    cursor: pointer;
    transition: all 0.6s ease-in-out;
}

.cuadro:hover {
    filter: drop-shadow(0 0 2vh rgba(255, 255, 255, 0.249));

}

.cuadro-caido {
    background-image: url('../images/cuadro-caido.png');
    width: 30%;
    height: 40%;

    position: absolute;
    top: 40%;
}

.sala {
    background-image: url('../images/comedor.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 32%;
    height: 40%;

    position: absolute;
    top: 57%;
    left: 7%;
}

.clave {
    background-image: url('../images/clave.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 10vh;
    height: 10vh;

    position: absolute;
    top: 50%;
    right: 8%;
}

.clave:hover {
    filter: drop-shadow(0 0 1vh rgba(255, 255, 255, 0.249));
    cursor: pointer;
}

.puerta {
    clip-path: polygon(-20% -20%, -20% 98.5%, 120% 98.5%, 120% -20%);
    background-image: url('../images/Puerta.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 30vh;
    height: 40vh;

    position: absolute;
    bottom: 21.8%;
    left: 61.75%;
}

.puerta:hover {
    filter: drop-shadow(0 0 1vh rgba(255, 255, 255, 0.249));
    cursor: pointer;
}

#character {
    width: 23vh;
    height: 25vh;

    background-repeat: no-repeat;
    background-size: cover;

    position: absolute;
    left: 10%;
    top: 65%;
}

.menu {
    background-image: url('../images/Menu.svg');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 10vh;
    height: 10vh;
    z-index: 1;

    position: absolute;
    top: 8.5%;
    left: 5.5%;
}

.menu:hover,
.help:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.menu:active,
.help:active {
    filter: brightness(90%);
    cursor: pointer;
}

.help {
    background-image: url('../images/Help.svg');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 10vh;
    height: 10vh;
    z-index: 1;

    position: absolute;
    top: 8.5%;
    right: 5.5%;
}

.img-help2 {
    margin: auto;

    width: 59.5vh;
    height: 60vh;

    background-image: url('../images/Help4.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    opacity: 0;
    transform: scale(0.1);
    transform: translateY(-20%);

    filter: drop-shadow(0 0 10px black);

    display: grid;
    grid-template-rows: 1fr repeat(4, 2fr) 1fr;
    grid-template-columns: auto;
    row-gap: 6%;
}

.modal {
    display: none;

    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
}

.contrast {
    background-color: rgba(0, 0, 0, 0.3);
}

.contenido-modal-menu {
    margin: auto;

    width: 59.5vh;
    height: 60vh;

    background-image: url('../images/Menu-content.svg');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    opacity: 0;
    transform: scale(0.1);
    transform: translateY(-20%);

    filter: drop-shadow(0 0 10px black);

    display: grid;
    grid-template-rows: 1fr repeat(4, 2fr) 1fr;
    grid-template-columns: auto;
    row-gap: 6%;
}

.show-menu {
    animation: show-menu 0.3s ease-in-out forwards;
}

@keyframes show-menu {
    from {
        opacity: 0;
        transform: scale(0.1);
        transform: translateY(-20%);
    }

    to {
        opacity: 1;
        transform: scale(1);
        transform: translateY(30%);
    }
}

.hide-menu {
    animation: hide-menu 0.3s ease-in-out forwards;
}

@keyframes hide-menu {
    from {
        opacity: 1;
        transform: scale(1);
        transform: translateY(30%);
    }

    to {
        opacity: 0;
        transform: scale(0.1);
        transform: translateY(-20%);
    }
}

.btn {
    background-image: url('../images/Btn.svg');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Super Pixel';
    font-size: 3.5vh;
    color: black;
    text-decoration: none;
}

.btn:nth-child(1) {
    grid-row: 2 / 3;
}

.btn:nth-child(2) {
    grid-row: 3 / 4;
}

.btn:nth-child(3) {
    grid-row: 4 / 5;
}

.btn:nth-child(4) {
    background-image: url('../images/btn-red.svg');
    grid-row: 5 / 6;
}

.btn:hover {
    filter: brightness(75%);
    cursor: pointer;
}

.btn:active {
    filter: brightness(85%);
}

.contenido-modal-help {
    width: auto;
    height: auto;

    padding: 2vh;

    background-color: rgb(255, 246, 230);
    border: 1vh solid black;

    opacity: 0;

    position: absolute;
    right: -6%;
    top: 7.9%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 3vh;
    font-family: 'Pixeloid Sans';
    text-align: center;
}

.show-help {
    animation: show-help 0.3s ease-in-out forwards;
}

@keyframes show-help {
    from {
        opacity: 0;
        right: -6%;
    }

    to {
        opacity: 1;
        right: 5.2%;
    }
}

.hide-help {
    animation: hide-help 0.3s ease-in-out forwards;
}

@keyframes hide-help {
    from {
        opacity: 1;
        right: 5.2%;
    }

    to {
        opacity: 0;
        right: -6%;
    }
}

.contenido-modal-ask {
    width: 25%;
    height: 60vh;
    /* border: 1px solid #09cf23; */

    background-image: url('../images/receta.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;

    padding: 2vh;

    opacity: 0;

    position: absolute;
    top: 18%;
    left: 37%;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);

    font-size: 4vh;
    font-family: 'Pixeloid Sans';
    text-align: center;
}

.show-ask {
    animation: show-ask 0.5s ease-in-out forwards;
}

@keyframes show-ask {
    from {
        opacity: 0;
        top: -20%;
    }

    to {
        opacity: 1;
        top: 20;
    }
}

.hide-ask {
    animation: hide-ask 0.5s ease-in-out forwards;
}

@keyframes hide-ask {
    from {
        opacity: 1;
        top: 20;
    }

    to {
        opacity: 0;
        top: -20%;
    }
}

.letra {
    font-family: 'Pixeloid Sans';
    font-size: 4vh;
    text-align: center center;
    grid-area: 2/1/3/5;

    position: absolute;
    left: 30%;
    top: -20%;
}

.leche {
    /* border: 1px solid #0d230f; */
    height: 30%;
    font-size: 4vh;
    text-align: center;

    grid-area: 3/1/4/2;

    position: absolute;
    top: -40%;
    left: 70%;
}

.harina {
    /* border: 1px solid #0d230f; */
    height: 30%;
    font-size: 4vh;

    position: absolute;
    top: -10%;
    left: 70%;

    text-align: center;


    grid-area: 3/1/4/2;

}

.azucar {
    height: 30%;
    font-size: 4vh;

    position: absolute;
    top: 15%;
    left: 70%;

    text-align: center;


    grid-area: 3/1/4/2;
}

.huevos {
    height: 30%;
    font-size: 4vh;

    position: absolute;
    top: 45%;
    left: 70%;

    text-align: center;


    grid-area: 3/1/4/2;
}

.sal {
    height: 30%;
    font-size: 4vh;

    position: absolute;
    top: -40%;
    left: 25%;


    text-align: center;


    grid-area: 3/3/4/4;
}

.canela {
    height: 30%;
    font-size: 4vh;

    position: absolute;
    top: -10%;
    left: 15%;

    text-align: center;

    grid-area: 3/3/4/4;

}

.levadura {
    height: 30%;
    font-size: 4vh;

    position: absolute;
    top: 15%;
    left: 5%;

    text-align: center;

    grid-area: 3/3/4/4;
}

.text-2 {
    font-size: 3vh;
    text-align: center center;
    grid-area: 4/1/5/4;

    position: absolute;
    left: 32%;
    top: -20%;
}

.claves {
    width: 28%;
    height: auto;
    aspect-ratio: 1/1;
    /* border: 1px solid #09cf23; */

    background-image: url('../images/codigo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;

    padding: 2vh;

    opacity: 0;

    position: absolute;
    top: 18%;
    left: 35%;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);

    font-size: 4vh;
    font-family: 'Pixeloid Sans';
    text-align: center;
}

.show-clave {
    animation: show-clave 0.5s ease-in-out forwards;
}

@keyframes show-clave {
    from {
        opacity: 0;
        top: -20%;
    }

    to {
        opacity: 1;
        top: 20;
    }
}

.hide-clave {
    animation: hide-clave 0.5s ease-in-out forwards;
}

@keyframes hide-clave {
    from {
        opacity: 1;
        top: 20;
    }

    to {
        opacity: 0;
        top: -20%;
    }
}

.text-claves {
    font-size: 3vh;
    text-align: center center;
    grid-area: 1/1/3/5;

    position: relative;
    top: 16%;
    font-weight: bold;
}

.text-canela {
    font-size: 3vh;
    text-align: center center;
    grid-area: 2/1/3/3;
    position: relative;
    left: 25%;
    top: 2%;

    width: 50%;
    height: 25%;

    /* border: 1px solid #09cf23; */

}

.text-pimienta {
    font-size: 3vh;
    text-align: center center;
    grid-area: 2/1/3/3;
    position: relative;
    left: 22%;
    top: 35%;

    width: 65%;
    height: 25%;

    /* border: 1px solid #09cf23; */

}

.text-levadura {
    font-size: 3vh;
    text-align: center center;
    grid-area: 2/1/3/3;
    position: relative;
    left: 24%;
    width: 70%;
    height: 25%;
    top: 68%;
/* 
    border: 1px solid #09cf23; */

}

.text-leche {
    font-size: 3vh;
    text-align: center center;
    grid-area: 2/2/3/5;
    position: relative;
    left: 30%;
    top: 2%;

    width: 35%;
    height: 25%;

    /* border: 1px solid #09cf23; */

}

.text-mermelada {
    font-size: 3vh;
    text-align: center center;
    grid-area: 2/2/3/5;

    position: relative;
    top: 35%;
    left: 24.5%;

    width: 50%;
    height: 25%;

    /* border: 1px solid #09cf23; */

}

.text-miel{
    font-size: 3vh;
    text-align: center center;
    grid-area: 2/2/3/5;

    position: relative;
    top: 65%;
    left: 18%;

    width: 50%;
    height: 25%;
}

.boton-enviar {
    grid-area: 3 / 2 / 4 / 4;
    /* aspect-ratio: 1/1; */

    background-color: #00000000;
    border: none;

    background-image: url('../images/btn-enviar.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

    text-align: center;
    place-self: end center;

    width: 100%;
    height: 80%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2vw;
    font-family: 'Super Pixel';

    position: relative;
    top: 6%;



}

.boton-enviar:hover {
    filter: drop-shadow(0 0 1vh rgba(255, 255, 255, 0.827));
    cursor: pointer;
}

.cajones {
    width: 30%;
    height: 65vh;

    /* border: 1px solid #0d230f; */
    background-image: url('../images/cajon-abierto.png');
    background-repeat: no-repeat;
    background-size: contain;

    padding: 2vh;

    opacity: 0;

    position: absolute;
    top: 15%;
    left: 35%;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);

    font-size: 4vh;
    font-family: 'Pixeloid Sans';
    text-align: center;
}

.show-cajones {
    animation: show-cajones 0.5s ease-in-out forwards;
}

@keyframes show-cajones {
    from {
        opacity: 0;
        top: -20%;
    }

    to {
        opacity: 1;
        top: 20;
    }
}

.hide-cajones {
    animation: hide-cajones 0.5s ease-in-out forwards;
}

@keyframes hide-cajones {
    from {
        opacity: 1;
        top: 20;
    }

    to {
        opacity: 0;
        top: -20%;
    }
}

.despensa {
    width: 41%;
    height: 68vh;
    /* border: 1px solid #0143fa; */

    background-image: url('../images/gabinete\(1\).png');
    background-repeat: no-repeat;
    background-size: contain;

    padding: 2vh;

    opacity: 0;

    /* border: 1px solid #0143fa; */
    position: absolute;
    top: 15%;
    left: 28%;


    font-size: 4vh;
    font-family: 'Pixeloid Sans';
    text-align: center;
}

.show-despensa {
    animation: show-despensa 0.5s ease-in-out forwards;
}

@keyframes show-despensa {
    from {
        opacity: 0;
        top: -20%;
    }

    to {
        opacity: 1;
        top: 20;
    }
}

.hide-despensa {
    animation: hide-despensa 0.5s ease-in-out forwards;
}

@keyframes hide-despensa {
    from {
        opacity: 1;
        top: 20;
    }

    to {
        opacity: 0;
        top: -20%;
    }
}

.nothing {
    width: 41%;
    height: 68vh;
    /* border: 1px solid #0143fa; */

    background-image: url('../images/gabinete.png');
    background-repeat: no-repeat;
    background-size: contain;

    padding: 2vh;

    opacity: 0;

    /* border: 1px solid #0143fa; */
    position: absolute;
    top: 15%;
    left: 28%;


    font-size: 4vh;
    font-family: 'Pixeloid Sans';
    text-align: center;
}

.show-nothing {
    animation: show-nothing 0.5s ease-in-out forwards;
}

@keyframes show-nothing {
    from {
        opacity: 0;
        top: -20%;
    }

    to {
        opacity: 1;
        top: 20;
    }
}

.hide-nothing {
    animation: hide-nothing 0.5s ease-in-out forwards;
}

@keyframes hide-nothing {
    from {
        opacity: 1;
        top: 20;
    }

    to {
        opacity: 0;
        top: -20%;
    }
}

.armario {
    width: 18%;
    height: 72vh;
    /* border: 1px solid #0143fa; */

    background-image: url('../images/armario.png');
    background-repeat: no-repeat;
    background-size: contain;

    padding: 2vh;

    opacity: 0;

    /* border: 1px solid #0143fa; */
    position: absolute;
    top: 13%;
    left: 40%;

    font-size: 4vh;
    font-family: 'Pixeloid Sans';
    text-align: center;
}

.show-armarios {
    animation: show-armarios 0.5s ease-in-out forwards;
}

@keyframes show-armarios {
    from {
        opacity: 0;
        top: -20%;
    }

    to {
        opacity: 1;
        top: 20;
    }
}

.hide-armarios {
    animation: hide-armarios 0.5s ease-in-out forwards;
}

@keyframes hide-armarios {
    from {
        opacity: 1;
        top: 20;
    }

    to {
        opacity: 0;
        top: -20%;
    }
}


.btn-close {
    background-image: url('../images/exit.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    /* border: 1px #af2b2b solid; */
    width: 5vh;
    height: 5vh;
    grid-area: 1/5/2/6;
    display: grid;

    justify-self: center;
    align-self: center;

    margin-bottom: 50%;

}

.pelador {
    background-image: url('../images/pelador.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    width: 10vh;
    height: 10vh;
    grid-area: 1/3/2/4;
    display: grid;

    justify-self: center;
    align-self: center;

    position: inherit;
    top: 30%;
}

.cuchillo {
    background-image: url('../images/cuchillo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    width: 20vh;
    height: 10vh;
    grid-area: 1/1/2/3;
    display: grid;

    justify-self: center;
    align-self: center;
}

.tijeras {
    background-image: url('../images/tijeras.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    width: 10vh;
    height: 10vh;
    grid-area: 2/2/3/3;
    display: grid;

    justify-self: center;
    align-self: center;
}

.rallador {
    background-image: url('../images/rallador.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    width: 17vh;
    height: 20vh;
    grid-area: 2/1/3/2;
    display: grid;

    justify-self: center;

    align-self: center;

    position: relative;
    left: 20%;
}